:root {
    --background: #000000;
    --dark_gray: #1A1A1A;
    --light_gray: #E4E5E6;
    --text_primary: #ffffff;
    --text_secondary: #DDCD0D;
    --primary_red: #D2232A;
    --secondary_yellow: #DDCD0D;
}
